/* CSS */
/* Không ẩn đi phần tử chứa ô checkbox mặc định */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; /* Cho phép cuộn khi nội dung quá dài */
    max-height: 80vh; /* Giới hạn chiều cao tối đa của popup */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



/* Thêm đoạn mã CSS sau vào file của bạn */

.display-block {
    display: block;
}

.hidden {
    display: none;
}

.form-dialog {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.form-dialog label {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.text-danger {
    color: red;
    font-weight: bold;
}

/* Các nút lưu và đóng form */
button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

/* Hiển thị danh sách địa chỉ đã lưu */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
