
/* TichDiemComponent.css */
.popup-entering,
.popup-exiting,
.popup-exited {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.popup-entered {
    opacity: 1;
    display: block;
}

.section_thongke{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    float: right;
    min-width: 1010px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
