@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;
}

.header .navLogin a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.navLogin a:hover {
    border-bottom: 4px solid #fff;
    transition: .5s;
}

.search i {
    color: #fff;
    font-size: 1.5em;
    margin-left: 20px;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/786/895/688/running-shoes-sun-rays-asphalt-wallpaper-preview.jpg');
    background-position: center;
    background-size: cover;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 10px 0;
}

.login {
    width: 550px;
    position: relative;
    padding: 50px 30px;
}

.login h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.login .input {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 40px
}

.login .input .input1 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    color: #000;
    width: 100%;
    height: 100%;
}

::placeholder {
    color: #000;
    font-size: 18px;
}

.login .input i {
    position: relative;
    right: -430px;
    bottom: 27px;
    color: #000;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #000;
}

.check a {
    text-decoration: none;
    color: #000;
}

.check a:hover {
    text-decoration: underline;
}

.login .buttonLogin {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    height: 40px;
    background-color: rgb(29, 160, 66);
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
}

button:active {
    font-size: 25px;
}

.login .sign-up {
    display: flex;
    justify-content: center;
}

.login .sign-up a {
    margin-top: 4px;
    margin-left: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.login .sign-up p {
    color: #000;
}

.sign-up a:hover {
    text-decoration: underline;
}