<!doctype html>
<html lang="en">

<head>
    <title>Thanh toan</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-0 py-4 fixed-top" id="navbarhead">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand d-flex align-items-center" href="index.html">
                        <img style="transform: rotateX(-180deg)" width="20px"
                            src="https://th.bing.com/th/id/R.050c73eba23cc91bc0e07357eff755ed?rik=rsC1L%2bnFt86uyA&pid=ImgRaw&r=0"
                            alt="site icon">
                        <span class="text-uppercase fw-lighter ms-2">LOGO</span>
                    </a>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse justify-content-end" id="navMenu">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item px-2 py-2">
                            <a class="nav-link text-uppercase " href="/khach-hang/home">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item px-2 py-2">
                            <a class="nav-link text-uppercase " href="/khach-hang/products">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item px-2 py-2">
                            <a class="nav-link text-uppercase " href="#div6">KHÁM PHÁ</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <main style="min-height: 100vh; background-color:rgb(234, 227, 219)" data-bs-spy="scroll"
        data-bs-target="#nav-example" data-bs-smooth-scroll="true" tabindex="0">


        <div class="content trang2 " id="div1">
            <div class="row container">
                <div class="col-8 content-left bg-light pt-3">
                    <h1><strong>THÔNG TIN NHẬN HÀNG</strong></h1>
                    <hr>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="formId1" id="formId1" placeholder="tên">
                        <label for="formId1">Họ tên</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="formId2" id="formId1" placeholder="sdt">
                        <label for="formId2">Số điện thoại</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="formId3" id="formId1" placeholder="tên">
                        <label for="formId3">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="formId1" id="formId4" placeholder="tên">
                        <label for="formId4">Địa chỉ</label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select class="form-select form-select mb-3" id="city" aria-label=".form-select">
                                <option value="" selected>Chọn tỉnh thành</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-select form-select mb-3" id="district" aria-label=".form-select">
                                <option value="" selected>Chọn quận huyện</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-select form-select" id="ward" aria-label=".form-select">
                                <option value="" selected>Chọn phường xã</option>
                            </select>
                        </div>
                    </div>
                    <h2><strong>PHƯƠNG THỨC GIAO HÀNG</strong></h2>
                    <hr>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" name="" id="" type="radio" value="checkedValue" aria-label="Text for screen reader">
                        a đù
                      </label>
                    
                    </div>

                    <h2><strong>PHƯƠNG THỨC THANH TOÁN</strong></h2>
                    <hr>
                </div>
                <div class="col-4 content-right bg-light pt-3">
                    <h1><strong>ĐƠN HÀNG</strong></h1>
                    <hr>
                    <div class="row mb-4 border py-2">
                        <div class="col-8">
                                <h5><Strong>tên sản phẩm + Màu</Strong></h5>
                                <span>Size: 34</span>
                                <span class="float-end">Số lượng: 4</span>
                        </div>
                        <div class="col-4 ">
                            <p></p>
                            <h6 class="float-end">99.999</h6>
                        </div>
                        
                    </div>
                    <div class="row mb-4 border py-2">
                        <div class="col-8">
                                <h5><Strong>tên sản phẩm + Màu</Strong></h5>
                                <span>Size: 54</span>
                                <span class="float-end">Số lượng: 4</span>
                        </div>
                        <div class="col-4 ">
                            <p></p>
                            <h6 class="float-end">99.999.0900</h6>
                        </div>
                    </div>
                    
                    <hr class="dashed-hr">
                    <div class="row">
                        <div class="col-6"> <span>Đơn hàng :</span></div>
                        <div class="col-6"> <span class="float-end">100.333.213 VND</span></div>
                        <div class="col-6"> <span>Giảm :</span></div>
                        <div class="col-6"> <span class="float-end">900.000</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><br>
                            <H5><Strong style="color: orangered;">TỔNG CỘNG: </Strong></H5>
                        </div>
                        <div class="col-8 "><br>
                            <H5><Strong class="float-end" style="color: orangered;">124.121.000 VND</Strong></H5>
                        </div>

                    </div>
                    <hr class="dashed-hr">
                    <span>

                        * không biết viết gì ở đây nhưng nếu biết thì cũng tốt
                    </span>
                    <hr class="dashed-hr">



                    <div class="row">



                        <div class="col-12 mt-2">
                            <a href="#" class="btn btn-warning btn-lg" style="width: 100%;"><strong>TIẾP TỤC THANH
                                    TOÁN</strong></a>
                        </div>
                    </div>
                </div>

                <hr class="dashed-hr mt-5">



            </div>

        </div>

    </main>
    <footer>

        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row text-white g-4">
                    <div class="col-md-6 col-lg-3">
                        <a class="text-uppercase text-decoration-none brand text-white" href="index.html">Attire</a>
                        <p class="text-white text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum mollitia quisquam veniam odit cupiditate, ullam aut voluptas velit dolor ipsam?</p>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <h5 class="fw-light">Links</h5>
                        <ul class="list-unstyled">
                            <li class="my-3">
                                <a href="#" class="text-white text-decoration-none text-muted">
                                    <i class="fas fa-chevron-right me-1"></i> Home
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="text-white text-decoration-none text-muted">
                                    <i class="fas fa-chevron-right me-1"></i> Collection
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="text-white text-decoration-none text-muted">
                                    <i class="fas fa-chevron-right me-1"></i> Blogs
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="text-white text-decoration-none text-muted">
                                    <i class="fas fa-chevron-right me-1"></i> About Us
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <h5 class="fw-light mb-3">Contact Us</h5>
                        <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                            <span class="me-3">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                            <span class="fw-light">
                                Albert Street, New York, AS 756, United States of America
                            </span>
                        </div>
                        <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                            <span class="me-3">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="fw-light">
                                attire.support@gmail.com
                            </span>
                        </div>
                        <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                            <span class="me-3">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                            <span class="fw-light">
                                +9786 6776 236
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <h5 class="fw-light mb-3">Follow Us</h5>
                        <div>
                            <ul class="list-unstyled d-flex">
                                <li>
                                    <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>


    <script src="logic.js"></script>

</body>

</html>