@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Lato:wght@400;700&display=swap');

  
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 69, 52);
}
p{
    line-height: 2;
}


.nav-link{
    color: rgb(0, 69, 52);
    border-radius: 10px;
    white-space: nowrap;
    transition: 1000ms;
}

.nav-link:hover{
    background-color: rgb(243, 240, 240);
    border-radius: 50px;
    white-space: nowrap;
    transition: 500ms;
    animation: rainbow 5s linear infinite;
}
.fw-bolder{
    font-size: 3vm;
}


.card{
    height: 420px;
    overflow: hidden;
}
.pagination{
    color: rgb(0, 69, 52);
}
.shopBtn{
    opacity: 0;
    filter: blur(2px);
    transition: all 0.5s;
    transform:  scale(0.8) translatex(-100px);
}
.card:hover .shopBtn{
    opacity: 1;
    transform: translatex(0) scale(1);
    filter: blur(0);
    transition: all 0.5s;
}
.dashed-hr {
    border-top: 2px dashed black;
  }
  
.content{
    width: 100%;
    min-height: 140vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  
  
}
.content-left{
    text-align: left;
    transform: translateX(-100px);
    filter: blur(5px);
    opacity: 0;
   
    transition: all 1.5s;
}
.content-right{
    text-align: left;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100px);
    transition: all 1.5s;
}

.font-monospace{
    color: rgb(0, 69, 52);
}
.bx{
    color: rgb(0, 69, 52);
    font-size: larger;
}
.show{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 1.5s;
}
@media (prefer-reduced-motion) {
    .content{
        transition: none;
    }
}

#x1{
    color: rgb(0, 69, 52);
    font-weight: bolder;
    background: rgb(184, 203, 204);
    padding: 20px;
    border-radius: 30px;
    transition: all 0.5s;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    
}
#x1:hover{
  
    background: rgb(250, 250, 250);

    transition: all 0.5s;
    animation: rainbow 5s linear infinite;
    
}

@keyframes rainbow {
    0% { color: rgb(249, 188, 172); }
    14% { color: orange; }
    28% { color: rgb(255, 199, 59); }
    42% { color:  rgb(204, 233, 129) }
    57% { color: rgb(64, 64, 143); }
    71% { color:  rgb(185, 237, 214) }
    85% { color: violet; }
    100% { color: rgb(249, 188, 172); }
  }
 


.trang2{
    background-color:rgb(255, 255, 255) ;
    
}

/* animaion tự cahyj
 @keyframes changeBackground {
      animation-name: changeBackground;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    
    0% {
        background-image:url(/imgs/shoe-banner\ \(10\).jpg);
    }
    20% {
        background-image:url(/imgs/shoe-banner\ \(8\).jpg);
    }
    40% {
        background-image:url(/imgs/shoe-banner\ \(9\).jpg);
    }
    60% {
        background-image:url(/imgs/shoe-banner\ \(16\).jpg);
    }
    80% {
        background-image:url(/imgs/shoe-banner\ \(17\).jpg);
    }
    100% {
        background-image:url(/imgs/shoe-banner\ \(7\).jpg);
    }
   
  } */