/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Make wrapper-sell responsive */
.wrapper-sell {
    width: 100%;
    height: auto;
}

/* Header styling */
.header-sell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0964cf;
    padding: 10px;
}

.header_sell_content_left {
    display: flex;
    align-items: center;
    width: 50%; /* Adjust as needed */
}

.header_sell_content_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%; /* Adjust as needed */
}

/* Content styling */
.content_sell {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    padding-top: 27px;
}

.content_sell_left {
    flex: 1; /* Take up remaining space */
    border-right: 2px solid #e5e5e5;
    padding-right: 10px; /* Add some spacing */
}

.content_sell_right {
    flex: 1; /* Take up remaining space */
    padding: 0 10px 0 10px; /* Add some spacing */
}

/* Checkbox styling */
.checkbox_sell {
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
}

/* Payment styling */
.payment_sell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Container styling */
.container_sell {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    transition: box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container_sell:hover {
    border-color: #2c7605;
    background-color: #69ff18; /* Fix the typo in background color */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Delete icon styling */
.container_sell .anticon-delete {
    cursor: pointer;
    transition: color 0.3s;
}

.container_sell:hover .anticon-delete {
    color: red;
}
