@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Lato:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 69, 52);
}

p {
    line-height: 2;
}

#main {
    background-color: rgb(255, 228, 196);
}

.nav-link {
    color: rgb(0, 69, 52);
    border-radius: 10px;
    white-space: nowrap;
    transition: 1000ms;
}

.nav-link:hover {
    background-color: rgb(16, 101, 116);
    border-radius: 50px;
    white-space: nowrap;
    transition: 500ms;
    animation: rainbow 5s linear infinite;
}

.fw-bolder {
    font-size: 3vm;
}


.cardProductDetail {
    height: 380px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cardProductDetail:hover {
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.8);
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;

}

.pagination {
    color: rgb(0, 69, 52);
}

.shopBtn {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.5s;
    transform: scale(0.8) translatex(-100px);
}

.cardProductDetail:hover .shopBtn {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 0.5s;
}

.dashed-hr {
    border-top: 2px dashed black;
}

.contentProductDetail {
    width: 100%;
    min-height: 140vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

.contentProductDetail-left {
    text-align: left;
    transform: translateX(-100px);
    filter: blur(1px);
    opacity: 0;

    transition: all 1.5s;
}

.contentProductDetail-right {
    text-align: left;
    opacity: 0;
    filter: blur(1px);
    transform: translateX(+100px);
    transition: all 1.5s;
}

.font-monospace {
    color: rgb(0, 69, 52);
}

.bx {
    color: rgb(0, 69, 52);
    font-size: larger;
}

.show {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 1.5s;
}

@media (prefer-reduced-motion) {
    .content {
        transition: none;
    }
}

.trang2ProductDetail {
    background-color: rgb(255, 255, 255);

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    font-size: 2rem;
    margin-top: 100px;
}