.image-uploader {
    align: left;
    border-color: red;
}

.upload-btn {

    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: red;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align-last: center;
    width: 120px;
    height: 120px;
    padding-top: 40px;
}

.upload-btn:hover {
    background-color: orangered;
}

#file-input {
    display: none;
}

.selected-images {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.selected-images img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

.image-box {
    position: relative;
    width: 120px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    padding:0px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.image-box img {
    width: 100px;
    height: 100px;
    objectFit: cover;
    objectPosition: center
}

.delete-button {
    position: absolute;
    top: 13%;
    left: 87%;
    transform: translate(-50%, -50%);
    background-color: #e74c3c;
    color: #fff;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Nút ẩn ban đầu */
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}

.image-box:hover .delete-button {
    opacity: 1; /* Hiển thị nút khi hover */
}

.tr1 {
    height: 75px;/* Đặt chiều cao mong muốn cho mỗi hàng */
    vertical-lign: top; /* Chỉ định vị trí dọc của phần tử */
    line-height: 1.5
}
.th1 {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.td1 {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: auto; /* Chỉ định vị trí dọc của phần tử */
    line-height: 1.5; /* Chiều cao dòng của phần tử */
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top; /* Chỉ định vị trí dọc của phần tử */
    line-height: 1.5; /* Chiều cao dòng của phần tử */
}
.ellipsis {
    white-space: nowrap;         /* Ngăn chữ xuống dòng */
    overflow: hidden;            /* Ẩn phần chữ vượt ra ngoài khối chứa */
    text-overflow: ellipsis;     /* Thêm dấu "..." khi chữ vượt quá khối chứa */
    width: 200px;                /* Chiều rộng của khối chứa */
    border: 1px solid #ddd;      /* Để hiển thị rõ ràng khối chứa */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt */
    align-items: center;
    justify-content: center;
    z-index: 1; /* Đặt lớp trên cùng */
    padding-left: 300px;
    padding-top: 50px;
}

.overlay.active {
    display: flex;
}

.small-window {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 680px;
    width: 900px;
}
